html, body
{
  height: 100%;
}

img
{
  max-width: 100%;
}
/*COVER   */
#cover
{
   background: #222 url('../img/n2.jpg') center center no-repeat;
   background-size: cover;
   color: white;
   height: 100%;
   text-align: center;
   display: flex;
   align-items:center;
 }
 #cover-text
 {
   width: 100%;
 }
 #cover-texto .form-inline
 {
  padding: 5rem 0;
 }

 .contenido-seccion
 {
  padding: 5rem 0;
 }
 #acerca-de
 {
  background: #222 url('../img/n1.jpg') center center no-repeat;
   background-size: cover;
 }
 #texto-acerca-de
 {
  background: rgba(0,0,0,0.8);

  color: blue;
  padding: 1.875rem;
 }

 #footer
 {
  background: #222;
  color: white;
  font-size: 0.8rem;
  padding: 2.5rem 0;
 }